<!-- Bottone universale -->
<button *ngIf="showInstallButton" class="install-btn" (click)="installPWA()">
  {{ 'INSTALL' | translate }}
</button>

<!-- Overlay in stile iOS -->
<div *ngIf="showIosInstallOverlay" class="ios-overlay" (click)="closeOverlay()">
  <div class="ios-sheet" (click)="$event.stopPropagation()" tabindex="0">
    <div class="handle"></div>

    <h3>{{ 'IOS_ADD_TITLE' | translate }}</h3>
    <p>{{ 'IOS_INSTRUCTION' | translate }}</p>
    <ol>
      <li>{{ 'IOS_STEP1' | translate }}</li>
      <li>{{ 'IOS_STEP2' | translate }}</li>
    </ol>

    <button (click)="closeOverlay()">{{ 'CLOSE' | translate }}</button>
  </div>
</div>
